#logo{
    text-shadow: 2px 2px 2px White;
}

#qrcode{
    width:100px;
     height:100px;
     margin-top:15px;
}

.day-forecast {
    margin: .5rem;
    padding: .3rem;
    font-size: 1.2rem;

    background-color:lightgray;
}

.day-forecast > h2,
.day-forecast > p {
    margin: .2rem;
    font-size: 1rem;
}